<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Me</h1>
<h5>Hello my name is David Ramirez, and I'm a Senior at Oakland Technical High School. My hobbies include traveling/explorig new places, work on computers, collecting cards, car enthusiast, playing video games and sometimes i like to code. I am currently working on my senior project, which is too make a helpful website. But my current goals are to graduate high school with good grade, start to drive and finally go to college. I have been admitted to all my school but have decided to attend CSUEB where im planing to get my BA in Computer Science and hopefully work in that enviorment but idealy work in computer engineering.</h5>
<h4>Intended Purpose:</h4>
  <h5>The purpose of my web app would be to help students find there best option for school, while integrating other aspects as scholarships finder tab or stuff that can help them along their journey.
</h5>
<html>
   <head>
   </head>

   <body>
      <div style = "position:relative; left:5px; top:225px;">
         <h7>V.1.0</h7>
      </div>
   </body>

{% endblock %}